In [1]:
import pandas as pd
import requests
from io import StringIO
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
response = requests.get(url)
chipo = pd.read_csv(StringIO(response.text), sep='\t')
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [2]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)
products_over_10 = chipo[chipo['item_price'] > 10]
num_products_over_10 = len(products_over_10)
print("Number of products that cost more than $10.00:", num_products_over_10)

Number of products that cost more than $10.00: 1130

In [14]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
print("Chipotle DataFrame:")
print(chipo)
print("\nInformation about the Chipotle DataFrame:")
print(chipo.info())

Chipotle DataFrame:
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

Information about the Chipotle DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

Chipotle DataFrame:
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

Information about the Chipotle DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [16]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
chipo_filtered = chipo.drop_duplicates(subset=['item_name', 'quantity'])
items_price = chipo_filtered[['item_name', 'item_price']]
items_price_sorted = items_price.sort_values(by='item_price', ascending=False)
print(items_price_sorted)

                  item_name item_price
56      Barbacoa Soft Tacos     $9.25
554   Carnitas Crispy Tacos     $9.25
92       Steak Crispy Tacos     $9.25
8          Steak Soft Tacos     $9.25
237     Carnitas Soft Tacos     $9.25
...                     ...        ...
3599          Bottled Water    $10.50
6             Side of Chips     $1.69
263       Canned Soft Drink     $1.25
28              Canned Soda     $1.09
34            Bottled Water     $1.09

[103 rows x 2 columns]

In [17]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
chipo_filtered = chipo.drop_duplicates(subset=['item_name', 'quantity'])
items_price = chipo_filtered[['item_name', 'item_price']]
items_price_sorted = items_price.sort_values(by='item_name')
print(items_price_sorted)

                  item_name item_price
298       6 Pack Soft Drink     $6.49
3389      6 Pack Soft Drink    $12.98
39            Barbacoa Bowl    $11.75
21         Barbacoa Burrito     $8.99
1903  Barbacoa Crispy Tacos    $18.50
...                     ...        ...
1653    Veggie Crispy Tacos     $8.49
1694           Veggie Salad     $8.49
186       Veggie Salad Bowl    $11.25
3889      Veggie Soft Tacos    $16.98
738       Veggie Soft Tacos    $11.25

[103 rows x 2 columns]

In [18]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
sorted_chipo = chipo.sort_values(by='item_price', ascending=False)
most_expensive_quantity = sorted_chipo.iloc[0]['quantity']
print("Quantity of the most expensive item ordered:", most_expensive_quantity)

Quantity of the most expensive item ordered: 15

In [19]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
total_veggie_salad_bowl_orders = veggie_salad_bowl_orders['quantity'].sum()
print("Total Veggie Salad Bowl orders:", total_veggie_salad_bowl_orders)

Total Veggie Salad Bowl orders: 18

In [20]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
multiple_canned_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
total_multiple_canned_soda_orders = multiple_canned_soda_orders.shape[0]
print("Total orders of more than one Canned Soda:", total_multiple_canned_soda_orders)

Total orders of more than one Canned Soda: 20